body {
    background-color: rgb(33, 33, 33);
    color: rgb(28, 139, 69);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30%;
    margin-left: 30vw;
    margin-right: 30vw;
    
    
}

ul {
    list-style-position: inside;
    padding: 0;
    margin-top: 0;
}

.list li:nth-child(odd) {
    transform: translateX(-100px);
}

.list li:nth-child(even) {
    transform: translateX(100px);
}

.list li {
    animation-name: slide-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    transform: translateX(0);
    opacity: 0;
}

.list li:nth-child(-n+6) {
    animation-delay: 200ms;
}

.list li:nth-child(-n+4) {
    animation-delay: 100ms;
}

.list li:nth-child(-n+2) {
    animation-delay: 0ms;
}

@keyframes slide-in {
    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

img {
    height: 200px;
}    

.imgCarousel {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 150px;

}

.mainImg, .leftImg, .rightImg, .hiddenImg {
    width: 200px;
    height: 200px;
    position: absolute;
    
}

.leftImg {
    transform: translateX(-200px);
}

.rightImg {
    transform: translateX(200px);
}

.mainImg {
    scale: 150%;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;    
}

button:active {
    scale: 90%;
}

.shiftLeft {
    left: 35%;
    background-image: url(images/leftbutton.svg);
}

.shiftRight {
    right: 35%;
    background-image: url(images/leftbutton.svg);
    rotate: 180deg;

}

